section .strike {
    text-decoration: line-through;
    color: #888;
}

.yandex table.tableMiddle td {
    vertical-align: middle;
}

.yandex table.tableCenter td {
    text-align: center;
}

.yandex table.noBorder td {
    border: none;
}
